/* Add CSS Styling */
.odd-number {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: #e07979;
}

.odd-number.cool {
    font-size: 24px;
}

#second-element {
    font-size: 36px;
    color: hsl(219, 62%, 49%)
}

#forth-element {
    background-color: rgb(187, 241, 142);
    font-size: 24px;
    font-weight: 700;
}