body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 8px;
}

.title {
    background: #e3f4ff;
    margin: 16px 8px 8px 8px;
    padding: 2%;
}

.content {
    background: #e3f4ff;
    margin: 8px 8px;
    padding: 16px 8px;
}

.button-container {
    background: #e3f4ff;
    margin: 8px 8px 0 8px;
    padding: 8px;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    padding: 2%;
    margin: auto;
}